* {
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}

body {
	background-color: black;
}

h1 {
	font-size: 1.6em;
	padding-bottom: 15px
}

a {
	text-decoration: none;
	font-weight: 400;
}

.fa {
	font-size: 2em;
}

#wrapper {
	width: inherit;
	max-width: 800px;
	padding: 15px;
}

#game {
	width: 100%;

	padding-bottom: 15px;

	display: block; 
	background-color: black;
}

.left {
	float: left;
	padding-right: 10px;
}

.right {
	float: right;
	padding-left: 10px;
}

.space {
	padding: 0 5px;
	display: inline;
}